{% extends 'blog/base.html' %}
{% load bootstrap4 %}
 	{% block title %}Вход{% endblock %}
 	{% block content %}
 	<h1>Вход</h1> 
 	{% if form.errors %}
 	<p>Имя или пароль не верны.Пожалуйста, попробуйте еще раз.</p> 
 	{% else %}
 	<p>Пожалуйста, заполните форму для входа.:</p> 
 	{% endif %}
 	<div class="login-form"> 
 	<form action="{% url 'login' %}" method="post"> 
 	{{ form.as_p }}
 	{% csrf_token %}
 	<input type="hidden" name="next" value="{{ next }}" /> 
 	<p><input type="submit" value="Вход"></p> 
 	</form> 
 	</div> 
 	{% endblock %}
