{% extends 'blog/base.html' %}
{% block title %}О сайте{% endblock %}
{% block content %}
<h2 >О сайте</h2 >
<P> Сайт для обмена информацией о эксплуатации станков с ЧПУ. </p >
<p>Занимаясь обслуживанием станков с ЧПУ с 1983 года, а с 2005 года их модернизацией</p>
<p>появилось желание поделиться информацией собранной и разработанной за это время.</p>
<p>Это первый мой опыт создания сайта и он находится (и наверное это надолго)</p>
<p>в стадии разработки. Буду рад любым замечаниям и советам.</p>
<p></p>
<P>Все права принадлежат создателям сайта.</p>
{% endblock %}
