{% extends 'blog/base.html' %}
{% block title %}Проекты{% endblock %}

{% block content %}
<h2 >Проекты модернизации станков</h2 >
{% for project in projects %}
    <div class="post">
          <h5><a href="{% url 'projects' pk=post.pk %}">{{ project.pr_title }}</a></h5>
          
    </div>
             <div class="date">
             <p>Опубликовано: {{ project.timestamp }}</p>
             </div>
  {% endfor %}
<P> Раздел назодится в разработке </p >
<P>Перечень проектов по модернизации станков:
   Токарные станки
   16К20Ф3
   16К30Ф3
   16К25Ф3(СЕП220)
   1П756Ф3
   </p>
{% endblock %}
