{% extends "main/base_doc.html" %}
{% load bootstrap4 %}
{% load thumbnail %}
{% load static %}
{% block title %}Документация{% endblock %}
{% block content %}
{% if documents %}
<ul class="list-unstyled">
{% for document in documents %}
<div class="container-fluid mt-3">
        
        <div class="media-body">
            <h5><a href="{% url 'main:docdetail' pk=document.pk %}">{{document.title}}</a></h5>
           <div>{{ document.content }}</div>
           <p class="text-right font-weight-bold">{{ document.slug }}</p>
          <p class="text-right font-italic">{{ document.publish }}</p>
        </div>
   
{% endfor %}
</ul>
</div>

  {% else %}
<h1>Документация отсутствует</h1>   
 {% endif %}

{% endblock %}
