{% extends "main/base_pr.html" %}
{% block content %}
{% load bootstrap4 %}
<h2>Последние 10 проектов</h2>
{% if sts %}
<ul class="list-unstyled">
    {% for st in sts %}
<div class="container-fluid mt-3">
    <li class="media my-5 p-3 border">
         <div class="media-body">
          <h5><a href="{% url 'main:st_detail' pk=st.pk %}">{{ st.title }}</a></h5>
          <p class="text-right font-weight-bold">{{ st.price }}</p>
          <p class="text-right font-italic">{{ st.created_at }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
</div>
{% endif %}

{% endblock %}
