{% extends "blog/base.html" %}
{% load thumbnail %}
{% load static %}
{% block title %}{{ rubric }}{% endblock %}

{% block searchform %}
{% endblock %}

{% block content %}
<h2 class="mb-2">{{ rubric }}</h2>
<div class="container-fluid mb-2">
    
</div>
{% if sts %}
<ul class="list-unstyled">
    {% for st in sts %}
    <li class="media my-5 p-3 border">
        {% url 'main:detail' rubric_pk=rubric.pk pk=st.pk as url %}
        <a href="{{ url }}{{ all }}">
        {% if st.image %}
        <img class="mr-3" src="{% thumbnail st.image 'default' %}">
        {% else %}
        <img class="mr-3" src="{% static 'main/empty.jpg' %}">
        {% endif %}
        </a>
        <div class="media-body">
          <h3><a href="{{ url }}{{ all }}">{{ st.title }}</a></h3>
          <div>{{ st.content }}</div>
          <p class="text-right font-weight-bold">{{ st.price }}</p>
          <p class="text-right font-italic">{{ st.created_at }}</p>
        </div>
    </li>
    {% endfor %}
</ul>
{% bootstrap_pagination page url=keyword %}
{% endif %}
{% endblock %}
